html, body {
  height: 100%;
}
body {
  background-image: linear-gradient(45deg, #f50000, #bc00aa, #5700c0);
  overflow: hidden;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Dosis, sans-serif;
}
section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 420px;
  margin: auto;
}
h1 {
  font-size: 6em;
  margin: 0;
  padding: 0;
}
#description {
  margin-top: 0;
  padding: 20px 0 40px 0;
  font-weight: normal;
}
#bookmarklet {
  color: #5700c0;
  background-color: #fff;
  opacity: 0.6;
  padding: 15px;
  cursor: move;
  border: 1px solid #5700c0;
  border-radius: 3px;
  text-decoration: none;
}
#dragP {
  margin: 30px 0;
}
ol {
  padding: 0;
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10px auto;
  font-size: 0.9em;
  width: 60vw;
}

/* https://github.com/tholman/github-corners */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-25deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-25deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
